<div class="conainer">
    <h1>Usuarios</h1>
    <br>
    <table class="table">
        <thead class="thead-dark">
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Correos</th>
            <th>Modificar</th>
            <th>Eliminar</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-sm btn-warning">modificar</button></td>
                <td><button class="btn btn-sm btn-danger">eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>
